/* General styling for the entire kiosk container */
#kiosk-container {
  display: flex;
  flex-direction: row;
  font-family: Arial, sans-serif;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  overflow: hidden; /* 전체 스크롤 방지 */
}

/* Styling for category section */
#category-section {
  flex-basis: 15%; /* 카테고리 영역 너비 고정 */
  background-color: #fafafa;
  padding: 20px;
  border-right: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto; /* 카테고리 스크롤 */
  height: 100vh;
}

/* 주문 내역 버튼을 하단에 위치시키는 컨테이너 */
.order-history-button-container {
  margin-top: auto;
  padding-top: 20px;
  margin-bottom: 50px;
}

.order-history-button-container button {
  width: 200px;
  height: 40px;
  border-radius: 8px;
  background-color: #F87C7CFC;
  color: white;
}

#category-section h2 {
  margin-top: 0;
  text-align: center;
  color: #F87C7CFC;
}

#category-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

#category-list li {
  list-style: none;
}

#category-list li button {
  width: 100%;
  background: none;
  border: none;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  color: #333;
  border-bottom: 1px solid #ccc;
  font-size: 20px;
}

/* 선택된 카테고리 버튼 스타일 */
#category-list li button.active {
  background-color: #F87C7CFC;
  color: white;
  border-radius: 8px;
}

#category-list li button:hover {
  background-color: #ffe5e5;
}

/* Styling for menu section */
#menu-section {
  flex-grow: 2;
  padding: 20px;
  background-color: #fff;
  overflow-y: auto;
  height: 100vh;
  max-width: 75%;
}

#menu-section-title {
  margin-top: 0;
  color: #F87C7CFC;
}

#menu-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 20px;
}

.menu-item {
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #f9f9f9;
  cursor: pointer;
  width: 280px;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menu-item img {
  border-radius: 8px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.menu-item h3 {
  font-size: 20px;
  margin: 5px 0;
  text-align: left;
  color: #333;
}

.menu-item p {
  font-size: 18px;
  text-align: left;
  margin: 5px 0;
  color: #333;
}

.menu-item button {
  margin-top: 10px;
  width: 100px;
  align-self: center;
  background-color: #F87C7CFC;
  color: white;
  border-radius: 4px;
}

/* Styling for cart section */
#cart-section {
  flex-basis: 15%;
  padding: 20px;
  background-color: #f8f8f8;
  border-left: 1px solid #000;
  overflow-y: auto;
  height: 100vh;
}

#cart-section h2 {
  margin-top: 0;
  color: #F87C7CFC;
}

.cart-item {
  border-bottom: 1px solid #eee;
  padding: 10px;
}

.cart-item h4 {
  margin: 0 0 5px 0;
  font-size: 14px;
  color: #333;
}

/* Button Styling */
button {
  background-color: #F87C7CFC;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
}

button:hover {
  background-color: #ec0303;
}

/* Modal Styling */
#menu-modal {
  border-radius: 8px;
  position: fixed;
  width: 65%;
  height: 65%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.header-info {
  width: 50%;
}

.menu-image-container img {
  border-radius: 8px;
  width: 420px;
  height: 420px;
  border: 1px solid #ccc;
}

.modal-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.menu-price {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-top: auto;
  width: 100%;
}

.modal-footer #modal-menu-price {
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  width: 300px;
}

.modal-footer button {
  width: 200px;
  height: 40px;
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: #F87C7CFC;
  color: white;
}

.modal-footer button:hover {
  background-color: #ec0303;
}

.modal-footer #modal-close-button {
  margin-left: 190px;
}

.modal-footer #modal-add-to-cart {
  margin-right: 10px;
}
